@model List<MvcMovie.Models.Station>
@{
    ViewData["Title"] = "StationList";
}

<div class="text-center">
    <h1 class="display-4">Listes des stations</h1>
</div>

    @foreach (var bike in Model)
    {
        <p>@bike.name</p>
    }

<div>
   
</div>